<h1>新規受注登録</h1>
<%= javascript_pack_tag 'admin/order_new.js', 'data-turbolinks-track': "reload" %>
<%= content_tag :div,
  id: "adminNew",
  data: {
    order: @order,
    categories: @categories,
    customer: @customer,
    shippings: @shippings
  }.to_json do %>
<% end %>