<h2 class="mt-4 mb-2 text-white bg-dark-custom p-3"><%= t("admin.order_forms.new.title") %></h2>
<%= javascript_pack_tag 'admin/order_new.js', 'data-turbolinks-track': "reload" %>
<%= content_tag :div,
  id: "adminNew",
  data: {
    order: @order,
    categories: @categories,
    customer: @customer,
    shippings: @shippings
  }.to_json do %>
<% end %>