<h1>オンライン注文フォーム</h1>
<p id="notice"><%= notice %></p>
<meta name="turbolinks-visit-control" content="reload">
<%= javascript_pack_tag 'order/new.js', 'data-turbolinks-track': "reload" %>
<%= content_tag :div,
  id: "orderNew",
  data: {
    order: @order,
    categories: @categories,
    customer: @customer,
    shippings: @shippings
  }.to_json do %>
<% end %>