<h2 class="mt-4 mb-2 text-white bg-dark p-3">Web注文フォーム</h2>
<meta name="turbolinks-visit-control" content="reload">
<%= javascript_pack_tag 'order/new', 'data-turbolinks-track': "reload" %>
<%= stylesheet_pack_tag 'order/new', media: "all" %>
<%= content_tag :div,
  id: "orderNew",
  data: {
    order: @order,
    categories: @categories,
    customer: @customer,
    shippings: @shippings
  }.to_json do %>
<% end %>