<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<p id="notice"><%= notice %></p>
<%= javascript_pack_tag 'order/new.js' %>
<%= content_tag :div,
  id: "orderNew",
  data: {
    order: @order,
    categories: @categories,
    customer: @customer
  }.to_json do %>
<% end %>