<p><%= @name %> 様</p>
<br>
<p>この度は、弊社の黒染めサービスをご利用いただきまして誠にありがとうございます。</p>
<br>
<p>黒染めが完了し、商品を発送いたしました。</p>
<p>商品の到着まで、今しばらくお待ちください。</p>
<br>
<p>お荷物の配送状況につきましては、【ヤマト運輸株式会社】よりメールが届きますのでそちらよりご確認ください。</p>
<p>また、送料につきましては着払いとさせていただいておりますのでご了承ください。</p>
<br>
<p>ご不明な点やご意見、ご感想等ございましたら、お気軽に以下のメールアドレスまでご連絡ください。</p>
<p>marukou@example.com</p>
<br>
<p>この度は弊社サービスをご利用いただきまして誠にありがとうございました。</p>
<p>またのご利用を心よりお待ちしております。</p>