/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ページネーション用CSS */
.pagination .page-link {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.pagination .page-link:hover {
  background-color: white;
  color: #F8C900;
  border: 1px solid #333;
}

.pagination .active .page-link {
  background-color: white;
  color: #333;
  border: 1px solid #333;
}

/* 受注一覧のリンク用 */
a.primary-link {
  color: #b0b0b0;
}

a.primary-link:hover {
  color: #F8C900;
  text-decoration: underline;
}

a.danger-link {
  color: #ffaaaa;
}

a.danger-link:hover {
  color: #ff0000;
  text-decoration: underline;
}

/* 管理者画面フォーム用 */
.bg-dark-custom {
  background-color: #333; 
  color: white;
}

.form-control, .form-select {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.btn-outline-custom {
  color: #333 !important;
  background-color: white !important;
  border-color: #333 !important;
}

.btn-outline-custom:hover {
  color: #F8C900 !important;
  background-color: #333 !important;
  border-color: white !important;
}

.btn-outline-custom-opposite {
  color: white !important;
  background-color: #333 !important;
  border-color: #333 !important;
}

.btn-outline-custom-opposite:hover {
  color: #F8C900 !important;
  background-color: white !important;
  border-color: #333 !important;
}
/* bootstrapのテーブルヘッダーcss上書き */
.table-dark {
  --bs-table-bg: #333 !important;
  --bs-table-border-color: #333 !important;
}
/* ナビバーにホバー追加 */
.navbar-nav .nav-link:hover {
  background-color: #333;
  color: #F8C900 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333;
  color: #F8C900 !important;
}

.btn-outline-custom-opposite {
  color: white !important;
  background-color: #333 !important;
  border-color: #333 !important;
}

.btn-outline-custom-opposite:hover {
  color: #F8C900 !important;
  background-color: white !important;
  border-color: #333 !important;
}
/* bootstrapのテーブルヘッダーcss上書き */
.table-dark {
  --bs-table-bg: #333 !important;
  --bs-table-border-color: #333 !important;
}
/* ナビバーにホバー追加 */
.navbar-nav .nav-link:hover {
  background-color: #333;
  color: #F8C900 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333;
  color: #F8C900 !important;
}

.btn-outline-custom-opposite:hover {
  color: #F8C900 !important;
  background-color: white !important;
  border-color: black !important;
}

/* オンライン注文フォーム用 */


.btn:hover {
  color: #F8C900 !important;
}